html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	@include mlg() {
		font-size: $rem-font-size-mlg;
	}
}

img {
	max-width: 100%;
	// height: auto;
}

.large-padding {
	padding-top: 48px;
	@include sm() {
		padding-top: 80px;
	}
	@include lg() {
		padding-top: 150px;
	}
}

.maxw-680 {
	max-width: 680px;
}

.w-lg-auto {
	@include lg() {
		width: auto;
	}
}
.flex-lg-basis-auto {
	@include lg() {
		flex-basis: auto;
	}
}