.container-fluid {
	max-width: 1330px;
	@include mlg() {
		max-width: 660px;
	}
}
.row {
}
.form-row {
	margin-left: -10px;
	margin-right: -10px;
}
.form-row > .col,.form-row > .column, .form-row > [class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}
.column {
	padding-left: 15px;
	padding-right: 15px;
}