$rem-font-size: 18px;
$rem-font-size-mlg: 14px;
$font: 'Roboto', sans-serif;
// $font2: 'Roboto Slab', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #212121;
$document-line-height: 1.2;
$document-background: #fff;
// $document-background: #fff;
// $document-background: transparent;