.business-packs {

}
.pack-card {
	position: relative;
	overflow: hidden;
	min-height: 470px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 15px;

	font-size: 14px;
	.button-oval {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.svg-icon_ruble {
		font-size: 9px;
	}
	&:hover {
		color: #fff;
		.pack-card-bg {
			opacity: 1;
			visibility: visible;
			@include lg() {
				transform: translate(0, 0) scale(1.1, 1.1);
			}
		}
		.button-oval_dark {
			border-color: #fff;
			color: #fff !important;
		}
		.button-angles {
			color: #fff !important;
			&:before, &:after {
				border-color: #fff;
			}
			.button-angles-in {
				&:before, &:after {
					border-color: #fff;
				}
			}
		}
	}
	@include mlg() {
		color: #fff;
		.button-oval {
			padding: 6px 10px;
		}
		.button-oval_dark {
			border-color: #fff;
			color: #fff !important;
		}
		.button-angles {
			color: #fff !important;
			&:before, &:after {
				border-color: #fff;
			}
			.button-angles-in {
				&:before, &:after {
					border-color: #fff;
				}
			}
		}
	}
}
.pack-card-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;


	transition: linear .2s;
	@include lg() {
		transform: translate(-20px, 0) scale(1.1, 1.1);
	}
	@include lg() {
		opacity: 0;
		visibility: hidden;
		
	}
	&:after {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background-color: rgba(#212121, .8);


		// opacity: 0;
		// visibility: hidden;
	}
}
.pack-card-in {
	padding: 40px 25px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// max-width: 295px;
	// margin-left: auto;
	// margin-right: auto;
}