.button-clr {
	background-color: transparent;
	padding: 0;
	border: none;
	&:focus {
		outline: none;
	}
}
.button {
	display: inline-block;
}

.button-oval {
	display: inline-block;
	border: 1px solid #fff;
	padding: 13px 15px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	color: #fff !important;
	text-decoration: none !important;
	text-align: center;

	border-radius: 15px;
	transition: linear .1s;
	&:hover {
		&:not(div) {
			box-shadow: 0 3px 12px rgba(#fff, .5);
		}
	}
	&:focus {
		outline: none;
	}
	&_dark {
		border-color: #212121;
		color: #212121 !important;
	}
	&_green {
		border-color: #9DB9B4;
		background-color: #9DB9B4;
		color: #fff !important;
		&:hover {
			box-shadow: 0 3px 12px rgba(#9DB9B4, .5);
			background-color: transparent;
			color: #9DB9B4 !important;
		}
	}
	&_green_large {
		padding: 19px 20px 18px;
		background-color: #9DB9B4;
		font-weight: normal;
		font-size: 18px;
		color: #fff;
		border-color: #9DB9B4;
		&:hover {
			box-shadow: 0 3px 12px rgba(#9DB9B4, .5);
			background-color: transparent;
			color: #9DB9B4 !important;
		}
	}
	&_green-light {
		width: auto;
		padding: 10px 15px;

		color: #fff !important;

		background-color: #9DB9B4;
		border-radius: 15px;
		border-color: #9DB9B4;
	}
	&:not(.collapsed) {
		.svg-icon {
			&:not(.svg-icon_ruble) {
				transform: rotate(90deg);
			}
		}
	}
	&.collapsed {
		.svg-icon {
			&:not(.svg-icon_ruble) {
				transform: rotate(-90deg);
			}
		}
	}
}

.button-angles {
	position: relative;
	display: inline-block;
	padding: 11px 20px 10px;
	font-size: 14px;
	line-height: 1;
	text-align: center;

	color: #fff !important;
	text-decoration: none !important;
	&:before, &:after {
		content: '';

		position: absolute;

		width: 10px;
		height: 10px;
		transition: width linear .2s, height linear .2s;
	}
	&:before {
		bottom: 0;
		left: 0;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}
	&:after {
		top: 0;
		right: 0;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
	}
	&:hover {
		@include lg() {
			&:before, &:after {
				width: 100% !important;
				height: 100% !important;
			}
			.button-angles-in {
				&:before, &:after {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		// box-shadow: 0 3px 12px rgba(#fff, .5);
	}
	&:focus {
		outline: none;
	}
	&_dark {
		color: #212121 !important;
		&:before, &:after {
			border-color: #212121;
		}
		.button-angles-in {
			&:before, &:after {
				border-color: #212121;
			}
		}
	}
}
.button-angles-in {
	&:before, &:after {
		content: '';

		position: absolute;

		width: 10px;
		height: 10px;
		transition: linear .1s;
	}
	&:before {
		top: 0;
		left: 0;
		border-left: 1px solid #fff;
		border-top: 1px solid #fff;
	}
	&:after {
		bottom: 0;
		right: 0;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
	}
}


.button-circle {
	position: relative;
	display: inline-block;
	width: 21px;
	height: 21px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1;
	color: #fff;

	background-color: #000;
	border-radius: 50%;
	&:focus {
		outline: none;
	}
}


