.carousel-style {
	img {
		width: auto !important;
	}
	.owl-nav {
		// display: block !important;

		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		@include mlg() {
			// position: static;
		}
		[class*="owl-"] {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			width: 42px;
			height: 42px;
			margin: 0 15px;

			color: #fff !important;

			border-radius: 50%;
			// background-color: rgba(#212120, .5) !important;
			background-color: #9DB9B4 !important;
			&.disabled {
				background-color: rgba(#9DB9B4, .5) !important;
				color: rgba(#fff, .5) !important;
				opacity: 1;
			}
			&:focus {
				outline: none;
			}
		}
		.owl-next {
			.svg-icon {
				transform-origin: 50% 50%;
				transform: rotate(180deg);
			}
		}
	}
	.owl-dots {
		margin-top: 32px !important;
		@include msm() {
			margin-top: 24px !important;
		}
		.owl-dot {
			span {
				background-color: transparent;
				border: 1px solid rgba(#000, .1);
			}
			&.active {
				span {
					border-color: #9DB9B4;
					background-color: #9DB9B4;
				}
				&:hover {
					span {
						border-color: #9DB9B4;
						background-color: #9DB9B4;
					}
				}
			}
			&:focus {
				outline: none;
			}
			&:hover {
				span {
					background-color: transparent;
					border-color: #9DB9B4;
				}
			}
		}
	}
	&_two {
		@include mlg() {
			.owl-nav {
				position: absolute;
				top: 50%;
				right: auto;
				left: 0;

				width: 100%;
				margin-top: 5px;
				// height: 50px;
				[class*="owl-"] {
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					margin: 0;

					width: 50px;
					height: 50px;
					background-color: #fff !important;
					color: #212121 !important;
					font-size: 23px !important;
					&.disabled {
						background-color: rgba(#fff, 1) !important;
						color: rgba(#212121, .1) !important;
					}
				}
				.owl-prev {
					left: -20px;
				}
				.owl-next {
					right: -20px;
				}
			}
		}
	}
	&.team-slider {
		.owl-nav {
			@include mlg() {
				transform: translate(0, -50%);
				@include sm() {
					margin-top: -10px !important;
				}
			}
		}
	}
	&.reviews-carousel {
		&_video {
			.owl-nav {
				@include lg() {
					&.disabled {
						display: block !important;
					}
				}
			}
		}
	}
}