.checkbox {

}
.checkbox-input {
	&:checked {
		& + label {
			.svg-icon {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.checkbox-label {
	display: flex;
	flex-wrap: nowrap;
	// padding-left: 25px;
}
.checkbox-pseudo {
	flex-shrink: 0;
	margin-right: 10px;
	margin-top: 1px;
	width: 15px;
	height: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 9px;
	color: #3F92E0;
	border: 1px solid #A7A7A7;
	box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
	.svg-icon {
		opacity: 0;
		visibility: hidden;
	}
}

.checkbox-txt {
	font-weight: 300;
	font-size: 15px;
	line-height: 1.4;
	color: #5A7D9E;
	.link {
		
	}

}