h1 {
	font-weight: 700;
	font-size: 44px;
	line-height: 1.2;

	color: #fff;
	@include mlg() {
		font-size: 36px;
		line-height: 42px;
	}
	@include mmd() {
		font-size: 18px;
		line-height: 21px;
	}
}

.front-sub-title {
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	color: #fff;
	.svg-icon_ruble {
		font-size: 20px;
	}
	@include mlg() {
		font-size: 24px;
		line-height: 28px;
		.svg-icon_ruble {
			font-size: 18px;
		}
	}
	@include mmd() {
		font-size: 15px;
		line-height: 18px;
		.svg-icon_ruble {
			font-size: 12px;
		}
	}
}

ul {
	padding-left: 20px;
}
h2 {
	position: relative;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.166666;

	color: #1E1E1E;
	@include msm() {
		font-size: 24px;
		line-height: 28px;
	}
	@include lg() {
		padding-top: 15px;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			width: 10px;
			height: 10px;

			border-top: 1px solid #000;
			border-left: 1px solid #000;
		}
	}

}

h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	.svg-icon_ruble {
		font-size: 19px;
		position: relative;
		top: -1px;
	}
	@include mlg() {
		font-size: 18px;
		line-height: 21px;
		.svg-icon_ruble {
			font-size: 14px;
		}
	}
	@include msm() {
		font-size: 15px;
		line-height: 18px;
		.svg-icon_ruble {
			font-size: 12px;
		}
	}
}

.color-dark {
	color: #1E1E1E !important;
}
.text-black {
	color: #000 !important;
}


.font-size-10 {
	font-size: 10px !important;
}
.font-size-16 {
	font-size: 16px !important;
}
.font-size-14 {
	font-size: 14px !important;
}

.check-txt {
	font-size: 10px;
	line-height: 12px;

	color: rgba(#000, .5);
}

.social-link {
	display: inline-block;
	font-size: 30px;
	line-height: 1;
	transition: linear .1s;
	margin-right: 15px;
	margin-bottom: 5px;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		// opacity: .8;
		transform: scale(1.1, 1.1);
	}
}