.contact-map {
	height: 546px;
	width: 100%;
	filter: grayscale(1);
	@include mlg() {
		border-radius: 15px;
		overflow: hidden;
		height: 380px;
	}
	@include msm() {
		height: 245px;
	}
}

.contacts {
	@include msm() {
		font-size: 10px;
		line-height: 12px;
	}
	.messengers {
		@include mlg() {
			.messengers-title {
				margin-right: 10px;
			}
			.social-link {
				margin-right: 6px;
			}
		}
	}
	.form-style-two {
		.form-control {
			border: 1px solid #212121;
			border-radius: 15px;
			padding-left: 20px;
			padding-right: 20px;
			@include iph() {
				color: rgba(#212121, .5);
			}
		}
	}
}