.footer {
	padding: 50px 0 34px;
	margin-top: auto;
	background-color: #1E1E1E;
	color: #fff;
	@include mlg() {
		padding-top: 9px;
		padding-bottom: 9px;
	}
	@include msm() {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}


.footer-social {
	display: block;
	color: #fff;
	font-size: 30px;
	transition: linear .1s;
	&:hover {
		color: #fff;
		transform: scale(1.1, 1.2);
	}
	@include mlg() {
		font-size: 20px;
	}
}

.footer-copy {
	font-size: 14px;
	line-height: 16px;
	@include mlg() {
		font-size: 6px;
		line-height: 7px;
	}
}

.footer-logo {
	.lazy-img {
		width: 81px;
		height: 52px;
		@include msm() {
			width: 56px;
			height: 36px;
		}
	}
}


.footer-row {
	@include mlg() {
		margin-left: -8px;
		margin-right: -8px;
		.column {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

.footer-row-social {
	@include lg() {
		margin-left: -10px;
		margin-right: -10px;
		.column {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}