.invalid-feedback {
	font-size: 1rem;
	font-weight: 400 !important;
	font-size: 15px !important;
}
.valid-feedback {
	font-size: 1rem;
	font-weight: 400 !important;
	font-size: 15px !important;
}
.was-validated .form-check-input:invalid~.checkbox-label .invalid-feedback {
	display: block;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
	@include iph() {
		color: #dc3545;
	}
}


.form-style {
	.form-control {
		border: 1px solid #212121;
		color: #212121 !important;
		@include iph() {
			color: rgba(#212121, .5);
		}
		&:focus {
			box-shadow: 0 3px 12px rgba(#212121, .5);
		}
	}
}

.form-style-two {
	.form-control {
		padding-left: 0;
		padding-right: 0;

		font-size: 14px;
		color: rgba(#1e1e1e, 1) !important;

		border-color: transparent;
		border-bottom-color: rgba(#1e1e1e, .5);
		border-radius: 0;
		@include iph() {
			color: rgba(#1e1e1e, .5);
			font-size: 14px;
		}
		&:focus {
			// box-shadow: 0 3px 12px rgba(#212121, .5);
			border-bottom-color: #000;
		}
	}
}


.form-notice {
	font-size: 12px;
	line-height: 14px;

	color: rgba(#fff, .5);
	@include mlg() {
		font-size: 10px;
		line-height: 12px;
	}
	@include msm() {
		font-size: 6px;
		line-height: 7px;
	}
}


.form-contact {
	.button-oval {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.svg-icon_ruble {
		// font-size: 18px;
		// vertical-align: middle;
		// line-height: 24px;
	}
}

.form-ruble-class {
	.svg-icon_ruble {
		// font-size: 15px;
	}
}