.form-control {
	padding: 9px 20px 8px;
	height: auto;
	min-height: auto;

	background: transparent;
	border: 1px solid #FFFFFF;
	border-radius: 15px;

	font-size: 14px;
	line-height: 1;
	color: #fff !important;

	resize: none;
	@include iph() {
		font-size: 14px;
		line-height: 1;
		color: rgba(#fff, .5);
	}
	&:focus {
		outline: none;
		box-shadow: 0 3px 12px rgba(#fff, .5);
		background-color: transparent;
		border-color: #fff;
		@include iph() {
			opacity: 0;
		}
	}
}