.front {
	position: relative;
	color: #fff;
}
.front-in {
	position: relative;
	min-height: 100vh;
}
.front-content {
	@include mlg() {
		max-width: 380px;
	}
	ul {
		@include mlg() {
			font-size: 14px;
			line-height: 16px;
		}
		@include mmd() {
			font-size: 13px;
			line-height: 15px;
		}
	}
}
.front-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.front-anchor {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;

	font-size: 30px;
	color: #fff !important;
	animation-name: moveY;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	@include mxl() {
		bottom: 80px;
	}
	@include mmd() {
		bottom: 50px;
	}
	@include msm() {
		bottom: 100px;
	}
}


@keyframes moveY {
	0 {
		transform: translate(-50%, 0);
	}
	50% {
		transform: translate(-50%, 20px);
	}
	100% {
		transform: translate(-50%, 0);
	}
}


.front-media {
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	// z-index: 99;
}
.front-media__video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 50%;
	min-height: 50%;
	margin: auto;
	object-fit: cover;
}