.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;

	padding: 30px 0 10px;
	transition: linear .1s;
	@include mxl() {
		padding: 10px 0;
	}
	@include mmd() {
		padding-top: 9px;
		padding-bottom: 9px;
	}
	@include msm() {
		.logo {
			width: 65px;
		}
	}
	&.sticky {
		@include xl() {
			padding: 10px 0;
		}
		background-color: rgba(#000, .6);
		@include mlg() {
			background-color: rgba(#000, 1);
		}
	}
	&:hover {
		background-color: rgba(#000, 1);
	}
}

.header-contacts {
	font-size: 0;
	@include mxl() {
		display: none;
	}
}
.phone-link {
	display: inline-block;
	color: #fff !important;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}
.mail-link {
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;

	color: #fff !important;

}


.header-menu-toggle {
	font-size: 30px;
	color: #fff;
}

.header-request {
	
}




