.lazy-box {
	position: relative;
}
.lazy-box-img {
	object-fit: cover;
}

.lazy-loading {
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		margin-top: -16px;
		margin-left: -16px;
		width: 32px;
		height: 32px;
		border-radius: 32px;
		animation: scaleout 1.2s infinite ease-in-out;


		mix-blend-mode: soft-light;
		background-color: rgba(#fff, .5); 
	}
}

.lazyload,
.lazy-lazyloading {
	opacity: 0;
	transition: linear .2s;
}

.lazyload,
.lazyloaded, {
	opacity: 1;
}
