.logo {
	display: inline-block;
	transition: linear .1s;
	&:hover {
		@include lg() {
			transform: rotate(5deg);
		}
	}
	// .button-click {
	// 	width: 100%;
	// 	height: 200%;
	// 	// margin-left: -25px;
	// 	margin-top: -30px;
	// 	animation-duration: .2s;
	// 	z-index: 1;
	// }
	// img {
	// 	position: relative;
	// 	z-index: 2;
	// 	@include mmd() {
	// 		// width: 60px;
	// 	}
	// }
}