.menu-nav {
	li {
		@include lg() {
			margin-right: 0;
		}
	}
	a {
		position: relative;
		display: inline-block;
		padding: 5px 16px;
		font-weight: 700;
		font-size: 14px;
		line-height: 16px;

		color: #fff !important;
		text-decoration: none !important;
		transition: linear .1s;
		&:before {
			content: '';

			position: absolute;
			top: 100%;
			left: 16px;
			right: 16px;
			margin-top: 5px;
			border-bottom: 1px solid #fff;

			opacity: 0;
			visibility: hidden;

			transition: linear .1s;
			@include mxl() {
				border-bottom-color: #000;
				left: 0;
				right: 0;
				border-bottom-width: 3px;
			}
		}
		&:hover {
			transform: translate(0, -3px);
		}
		&.active {
			background-color: transparent !important;
			color: #fff !important;
			&:before {
				opacity: 1;
				visibility: visible;
				margin-top: 0;
			}
		}
	}
}