.menu {
	@media only screen and (max-width: 1199px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 99999;

		display: flex;
		flex-direction: column;

		opacity: 0;
		visibility: hidden;
		transition: linear .3s;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background-color: rgba(#000, .3);
		}
		.menu-nav {
			display: block !important;
			margin-bottom: auto !important;
			margin: 103px 0 !important;
			a {
				padding: 12px 0;
				color: #000 !important;
				font-size: 36px;
				line-height: 42px;
				border-radius: 0 !important;
			}
		}
		.phone-link, .mail-link {
			color: #000 !important;
		}
		.phone-link {
			margin-top: 20px;
			margin-bottom: 5px;
		}
		.button-oval {
			width: 329px;
		}
	}
	.menu-nav {
		@include msm() {
			margin: 20px 0 !important;
			a {
				font-size: 24px;
				line-height: 28px;
				padding: 15px 0;
			}
		}
	}
	.header__contacts {
		margin-left: 0 !important;
		margin-top: 30px;
		.row {
			flex-direction: column;
			.phone-link {
				text-align: left;
			}
		}
	}
	.header__border-left {
		border: none;
	}
	.button-oval {
		@media only screen and (max-width: 380px) {
			width: 100%;
		}
	}
	.logo {
		@include mxl() {
			width: 80px;
		}
	}
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}
.menu-in {
	@media only screen and (max-width: 1199px) {
		position: relative;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		// flex-grow: 1;
		height: 100%;
		width: 100%;
		background-color: #fff;
		padding: 32px 70px;
		text-align: center;
	}
	@include msm() {
		padding: 25px 15px;
	}
}
.menu-close {
	background-color: transparent;
	padding: 0;
	border: none;
	font-size: 30px;
	color: #000;

	position: absolute;
	top: 10px;
	right: 15px;
	@include mxl() {
		font-size: 21px;
		top: 45px;
		right: 20px;
	}
	@include msm() {
		font-size: 16px;
		top: 25px;
	}
	&:focus {
		outline: none;
	}
	@media only screen and (min-width: 1199px) {
		display: none;
	}
}
.menu-close-icon {
}


.menu-contacts {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;

	color: #000;
	a {
		color: inherit;
		// text-decoration: none !important;
	}
	@include msm() {
		font-size: 10px;
		line-height: 12px;
	}
}


.menu-messengers {
	margin: 32px 0 28px;
	@include msm() {
		margin: 24px 0 20px;
	}
	.social-link {
		font-size: 26px;
	}
}
.menu-messengers-title {
	font-size: 13px;
	line-height: 15px;
}

.menu-warning {
	font-size: 10px;
	line-height: 12px;

	color: rgba(#000, .5);
}