.messengers {
	.social-link {
		@include mlg() {
			font-size: 26px;
		}
	}
}
.messengers-title {
	font-size: 16px;
	line-height: 19px;
	margin: 5px 20px;
	@include mlg() {
		font-size: 11px;
		line-height: 13px;
		margin-left: 13px;
		margin-right: 13px;
	}
}