.mobile-dropdown {
	@include mlg() {
		display: inline-block;
		&.isOpen {
			.mobile-dropdown-drop {
				opacity: 1;
				visibility: visible;
			}
		}
		&.firstItemSelected {
			.mobile-dropdown-drop {
				&:before {
					margin-bottom: -10px;
					// background-color: #9DB9B4;
					// border-color: #9DB9B4;
				}
				&:after {
					// background-color: #9DB9B4;
					// border-color: #9DB9B4;
				}
			}
		}
	}
}
.mobile-dropdown-toggle {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 35px 10px 15px;

	font-size: 10px;
	line-height: 1;
	color: #000;
	text-align: left;

	border-radius: 15px;
	min-width: 220px;
	.svg-icon {
		position: absolute;
		top: 50%;
		right: 22px;
		transform: translate(0, -50%);

		font-size: 8px;
		color: #2C2C2C;
	}
}
.mobile-dropdown-drop {
	@include mlg() {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 999;
		width: 100%;
		margin-top: 16px;


		opacity: 0;
		visibility: hidden;
		transition: linear .2s;

		// background: #FFFEFE;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		// border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		&:before {
			content: '';

			position: absolute;
			bottom: 100%;
			right: 20px;
			margin-bottom: -20px;

			width: 14px;
			height: 14px;
			// border: 1px solid rgba(0, 0, 0, 0.1);
			transform: rotate(45deg);
			background: #9DB9B4;
			transition: linear .2s;
			// transition: linear .1s;
		}
		// &:after {
		// 	content: '';

		// 	position: absolute;
		// 	bottom: 100%;
		// 	right: 20px;
		// 	margin-bottom: -8px;

		// 	width: 14px;
		// 	height: 14px;
		// 	transform: rotate(45deg);
		// 	background: #FFFEFE;
		// 	// transition: linear .1s;
		// }
		.nav-tabs {
			position: relative;
			overflow: hidden;

			display: block;

			border-radius: 15px;
			background: #FFFEFE;
		}
		.nav-item {
			padding: 0;
		}
		.tabs-link {
			display: block;
			padding: 10px 16px;
			border-bottom: none !important;

			font-size: 10px;
			color: #212121;
			transition: linear .2s;
			// transition: none;
			&:hover {
				// border-radius: 15px 15px 0px 0px;
			}
			&.active {
				background: #9DB9B4;
				color: #fff !important;
			}
		}
	}
}