.modal-product {
	.modal-dialog {
		// transform: none !important;
		will-change: transform;
		@include sm() {
			max-width: 970px;
		}
	}
	.modal-content {
		@include mlg() {
			padding: 15px 30px;
		}
		@include msm() {
			// padding: 20px 15px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.modal-txt {
		font-size: 12px;
		line-height: 14px;
	}
	.modal-close {
		font-size: 18px;
		top: 16px;
		right: 30px;
		@include msm() {
			top: 15px;
			right: 15px;
			font-size: 10px;
		}
	}
	.button-angles {
		@include msm() {
			padding: 5px 20px;
			font-size: 10px;
			&:before, &:after {
				width: 7px;
				height: 7px;
			}
			.button-angles-in {
				&:before, &:after {
					width: 7px;
					height: 7px;
				}
			}
		}
	}
}
.modal-product-body {
	iframe {
		width: 100%;
		height: 400px;
	}
	@include mlg() {
		width: 100%;
		max-width: 440px;
		margin-left: auto;
		margin-right: auto;
		iframe {
			width: 100%;
			height: 240px;
		}
	}
	@include msm() {
		iframe {
			height: 150px;
		}
	}
}

.modal-content {
	background: #212121;
	box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	color: #fff;
	padding: 30px 80px;
	@include mlg() {
		// padding: 15px;
	}
	// iframe {
	// 	@include msm() {
	// 		height: 300px;
	// 	}
	// }
}
.modal-close {
	position: absolute;
	top: 30px;
	right: 30px;
	
	font-size: 20px;
	color: #fff;
	@include msm() {
		top: 15px;
		right: 15px;
	}
}
.modal-request {
	.modal-dialog {
		@include sm() {
			max-width: 635px;
		}
	}
	.modal-content {
		padding: 50px 110px;
		@include mlg() {
			padding: 15px 15px 40px;
		}
		@include msm() {
			padding: 25px 15px;
		}
	}
	.form-control {
		padding-left: 0;
		padding-right: 0;
		font-size: 14px;
		border-color: transparent;
		border-radius: 0;
		border-bottom-color: #fff;
		opacity: .5;
		color: #fff !important;
		transition: none;
		@include iph() {
			color: #fff;
			font-size: 14px;
		}
		&:focus {
			opacity: 1;
			box-shadow: none;
		}
		@include mlg() {
			border: 1px solid #fff;
			padding: 9px 20px 8px;
			border-radius: 15px;
			opacity: 1;

			font-size: 14px;
			@include iph() {
				color: rgba(#fff, .5);
				font-size: 14px;
			}
		}
	}
	.button-oval {
		&:hover {
			box-shadow: none;
		}
		@include mlg() {
			padding: 10px 20px;
			font-size: 14px;
		}
	}
	.modal-close {
		@include mlg() {
			font-size: 16px;
			top: 24px;
			right: 30px;
		}
	}
	h3 {
		@include mlg() {
			font-size: 14px;
			line-height: 16px;
		}
		@include mmd() {
			font-size: 13px;
			line-height: 15px;
		}
	}
}
.modal-request-in {
	@include mlg() {
		max-width: 330px;
		margin-left: auto;
		margin-right: auto;
	}
	@include msm() {
		max-width: 250px;
	}
}

.modal-thanks {
	.modal-dialog {
		@include sm() {
			max-width: 967px;
		}
	}
	.modal-content {
		padding: 160px 30px;
		font-weight: 700;
		@include mlg() {
			padding: 85px 30px;
		}
		@include msm() {
			padding: 82px 40px;
		}
	}
	.modal-title {
		font-size: 48px;
		line-height: 56px;
		@include msm() {
			font-size: 36px;
			line-height: 42px;
		}
	}
	.modal-txt {
		font-size: 18px;
		line-height: 21px;
		@include mlg() {
			font-size: 14px;
			line-height: 16px;
		}
		@include msm() {
			font-size: 10px;
			line-height: 12px;

		}
	}
	.modal-close {
		font-size: 20px;
		top: 20px;
		right: 15px;
		@include mlg() {
			font-size: 16px;
		}
		@include msm() {
			font-size: 10px;
		}
	}
}

.modal-wrap-thanks {
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
	@include mlg() {
		max-width: 250px;
	}
	@include msm() {
		max-width: 210px;
	}
}


.modal-product-title {
	@include mlg() {
		font-size: 14px;
		line-height: 16px;
	}
	@include msm() {
		font-size: 10px;
		line-height: 12px;
	}
	&_works {
		margin-bottom: 71px !important;
		padding-bottom: 0 !important;
		@include mlg() {
			margin-bottom: 35px !important;
		}
		@include msm() {
			margin-bottom: 18px !important;
		}
	}
}
.modal-product-text {
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	@include mlg() {
		font-size: 10px;
		line-height: 12px;
	}
}


.modal-video-wrap {
	position: relative;
}
.modal-video-poster {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	&.hide {
		opacity: 0;
		visibility: hidden;
	}
}

.modal-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


	font-size: 90px;
	color: #fff;
	transition: linear .1s;
	@include mlg() {
		font-size: 50px;
	}
	&:hover {
		transform: translate(-50%, -50%) scale(1.1, 1.1);
	}
}