.popover {
	background: #212121;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}
.popover-body {
	max-width: 180px;
	padding: 30px 10px;
	font-size: 10px;
	line-height: 12px;

	color: #fff;
}

.popover .arrow {
	display: none;
}