.products {

}
.products-container {
	@include lg() {
		max-width: none;
		padding-left: 0;
		padding-right: 0;
	}
}
.product-card {
	position: relative;
	color: #fff;
	overflow: hidden;
	cursor: pointer;
	@include mlg() {
		font-size: 15px;
		line-height: 18px;
		.button-oval {
			font-size: 10px;
			padding: 4px 10px;
		}
		.button-angles {
			padding: 5px 20px;
			font-size: 10px;
			&:before, &:after {
				width: 7px;
				height: 7px;
			}
			.button-angles-in {
				&:before, &:after {
					width: 7px;
					height: 7px;
				}
			}
		}
	}
	@include mmd() {
		// width: 345px;
	}
	.svg-icon_ruble {
		font-size: 13px;
		@include mlg() {
			font-size: 9px;
		}
	}
	&:hover {
		@include lg() {
			.product-card-in {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
			.product-card-bg {
				@include sm() {
					transform: scale(1.1, 1.1);
				}
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	@include mlg() {
		border-radius: 15px;
	}
}
.product-card-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	transition: linear .2s;
	&:after {
		content: '';

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: rgba(#212121, .7);


		transition: linear .2s;
		@include lg() {
			opacity: 0;
			visibility: hidden;
			
		}
	}
}
.product-card-in {
	min-height: 320px;
	padding: 32px 70px 23px;
	position: relative;

	

	transition: linear .2s;
	@include mlg() {
		padding: 20px 12px;
		min-height: 245px;
	}
	@include lg() {
		transform: translate(-20px, 0);
		opacity: 0;
		visibility: hidden;
	}
}
.product-card-txt {
	font-size: 12px;
	@include mlg() {
		font-size: 10px;
		line-height: 12px;
	}
}

.products-carousel {
	.owl-nav {
		margin-top: 20px !important;
		@include sm() {
			display: none !important;
		}
	}
}


.product-card-play {
	font-size: 31px;
	transition: linear .1s;
	&:hover {
		transform: scale(1.1, 1.1);
	}
	@include mlg() {
		font-size: 20px;
	}
}


.product-card-foot {
	@include mlg() {
		margin-left: -8px;
		margin-right: -8px;
		.column {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

.products-column {
	@include mmd() {
		
	}
}