.recommendations {

}
.recommedation-card {
	position: relative;
	@include mlg() {
		border-radius: 15px;
		overflow: hidden;
	}
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: rgba(#1E1E1E, .9);
		transition: linear .2s;

		// opacity: 0;
		// visibility: hidden;
	}
	&:hover {
		&:before {
			// opacity: 1;
			// visibility: visible;
		}
	}
}
.recommedation-card-in {
	min-height: 550px;
	@include mlg() {
		min-height: 428px;
	}
	@include msm() {
		min-height: 245px;
	}
}

.recommedation-card-content {
	@include lg() {
		max-width: 680px;
	}
	@include mlg() {
		max-width: 250px;
		.button-angles {
			padding: 5px 20px;
			font-size: 10px;
			&:before, &:after {
				width: 7px;
				height: 7px;
			}
			.button-angles-in {
				&:before, &:after {
					width: 7px;
					height: 7px;
				}
			}
		}
	}
	@include msm() {
		max-width: 210px;
		h3 {
			font-size: 10px;
			line-height: 12px;
		}
		.lazy-img {
			width: 46px;
			height: 32px;
		}
	}
}