.reviews {

}
.review-card {
	font-size: 18px;
	line-height: 21px;
	iframe {
		height: 565px;
		width: 100%;
	}
	@include mlg() {
		font-size: 14px;
		line-height: 16px;
		iframe {
			height: 300px;
			border-radius: 15px;
		}
	}
	@include msm() {
		font-size: 10px;
		line-height: 12px;
		iframe {
			height: 200px;
		}
		.font-weight-bold {
			font-size: 13px;
			line-height: 15px;
		}
		.row {
			margin-left: -10px;
			margin-right: -10px;
		}
		[class*='col-'] {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.lazy-img {
		// display: inline-block !important;
		
		height: 524px;
		width: 100%;
		@include mlg() {
			height: 300px;
			border-radius: 15px;
		}
		@include msm() {
			height: 200px;
			width: 100% !important;
		}
	}
	.modal-video-wrap {
		@include mlg() {
			border-radius: 15px;
			overflow: hidden;
		}
	}
}



.review-author-name {
}



.reviews {
	.nav-tabs {
		@include mlg() {
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 15px;
			display: inline-flex !important;
			.nav-item {
				padding: 0;
			}
			.tabs-link {
				font-weight: 400;
				font-size: 10px;
				color: #212121 !important;
				padding: 10px 40px;
				border: none !important;
				border-radius: 15px;
				&.active {
					font-weight: bold;
					color: #fff !important;
					background-color: #9DB9B4;
				}
			}
		}
	}
}


.review-card {
	.modal-video-poster {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-color: rgba(#212121, .7);
		}
	}
}