.nav-tabs {
	border-bottom-color: #000;
	@include mlg() {
		// flex-direction: column;
		border-bottom-color: transparent;
		// .nav-item {
		// 	width: 100%;
		// 	flex: 0 0 33.3%;
		// 	max-width: 33.3%;
		// 	margin-bottom: 10px;
		// }
		// .tabs-link {
		// 	padding-bottom: 5px;
		// 	font-size: 16px;
		// }
	}
	@include msm() {
		// .nav-item {
		// 	flex: 0 0 50%;
		// 	max-width: 50%;
		// }

	}
}
.nav-item {
	@include mlg() {
		padding-left: 10px;
		padding-right: 10px;
	}
	@include lg() {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
			padding-right: 0;
		}
		&:last-child {
			padding-left: 0;
		}
	}
}
.tabs-link {
	display: inline-block;
	margin-bottom: -1px;
	border: none !important;
	border-bottom: 3px solid transparent !important;
	padding-bottom: 20px;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none !important;

	color: #000 !important;
	&.active {
		font-weight: 700;
		border-bottom-color: #000 !important;
	}
}

#reviewsTabs {
	.nav-item {
		@include lg() {
			margin-right: 50px;
		}
	}
}