.team {

}
.team-member {
	// max-width: 192px;
	position: relative;
	text-align: center;
	@include mlg() {
		border-radius: 15px;
		overflow: hidden;
	}
	.lazy-box {
		img {
			height: 192px;
			@include mxl() {
				width: 100% !important;
			}
			@include mlg() {
				height: 328px;
			}
			@include msm() {
				height: 245px;
			}
		}
	}
	@include mlg() {
		position: relative;
	}
}
.team-member-name {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	@include mlg() {
		font-size: 13px;
		line-height: 15px;
		// margin-bottom: 15px;
	}
}
.team-member-position {
	font-size: 10px;
	line-height: 12px;
	color: #000;
	@include mlg() {
		color: #fff;
		// margin-bottom: 15px;
	}
}
.team-member-toggle {
	position: absolute;
	bottom: 13px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	z-index: 99;
	transition: linear .1s;
	&.active {
		transform: rotate(90deg);
	}
}
.team-member-hashtag {
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: #212121 !important;
	@include mlg() {
		color: #fff !important;
		font-size: 10px;
		line-height: 12px;
	}
}
.team-member-body {
	@include mlg() {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 45px;

		padding: 9px 15px;

		background-color: rgba(#212121, .8);
		color: #fff;

		font-size: 10px;
		line-height: 12px;
		transition: linear .2s;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&.active {
			height: 100%;
			.team-member-mobile-content {
				margin-top: 15px;
				opacity: 1;
				visibility: visible;
				height: auto;
			}
		}
	}
}
.team-member-wrap {
	@include mlg() {
		max-width: 170px;
		margin-left: auto;
		margin-right: auto;
	}
}
.team-member-mobile-content {
	opacity: 0;
	visibility: hidden;
	transition: linear .2s;
	height: 0;
}
.team-slider {
	@include md() {
		width: auto;
	}
	@include mmd() {
		margin-left: 0;
		margin-right: 0;
	}
	.owl-nav {
		@include mmd() {
			margin-bottom: 20px !important;
		}
	}
	.lazy-img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 0;
		@include lg() {
			width: 192px;
			height: 192px;
		}
		@include mlg() {
			height: 328px;
		}
		@include mmd() {
			// display: inline-block !important;
		}
	}
	.team-column {
		@include mmd() {
			padding-left: 0;
			padding-right: 0;
		}
	}
}