.works {

}
.works-card {
	position: relative;
	min-height: 357px;
	overflow: hidden;
	@include mlg() {
		min-height: 330px;
	}
	&:hover {
		.works-card-bg {
			@include lg() {
				transform: scale(1.05, 1.05);
			}
		}
		.works-play-button {
			opacity: 1;
			visibility: visible;
		}
	}
}

.works-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;

	font-size: 80px;
	color: #fff;
	transition: linear .1s;
	@include lg() {
		opacity: 0;
		visibility: hidden;
	}
	@include mlg() {
		font-size: 50px;
	}
	&:hover {
		transform: translate(-50%, -50%) scale(1.1, 1.1);
	}
}

.works-card-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	transform-origin: 50% 50%;

	transition: linear .2s;
}

.works-card-title {
	position: absolute;
	top: 0;
	left: 0;

	padding-left: 15px;
	padding-right: 15px;
	height: 81px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #fff;

	background-color: rgba(#1E1E1E, .9);
	
	transform-origin: 0 0;
	@include lg() {
		width: 357px;
		transform: rotate(-90deg) translateX(-100%);
	}
	@include mlg() {
		width: 100%;
		font-size: 14px;
		line-height: 16px;
		height: 50px;
	}
}

.works-carousel {
	@include lg() {
		width: auto !important;
	}
	@include mlg() {
		margin: 0;
	}
}

.work-column {
	@include mlg() {
		padding-left: 0;
		padding-right: 0;
	}
}