<footer class="footer wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
	<div class="container-fluid">
		<div class="footer-row row align-items-center">
			<div class="column">
				<a class="footer-logo lazy-box lazy-loading" href="#">
					<img
						class="lazy-img lazy-box-img lazyload"
						data-sizes="auto"
						data-src="images/logo-white.png"
						width="81"
						height="52"
						src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
						alt="">
				</a>
			</div>
			<div class="column">
				<div class="footer-copy">Nash Production 2019 © <br>
					не является публичной офертой <br>
					политика конфиденциальности</div>
			</div>
			<div class="column ml-auto">
				<div class="footer-row footer-row-social d-flex flex-wrap align-items-center">
					<div class="column">
						<a class="footer-social" href="https://vimeo.com/nashproduction">
							<svg class="svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#vimeo"></use>
							</svg>
						</a>
					</div>
					<div class="column">
						<a class="footer-social" href="https://www.instagram.com/nashproduction/?hl=ru">
							<svg class="svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#instagram"></use>
							</svg>
						</a>
					</div>
					<div class="column">
						<a class="footer-social" href="https://www.facebook.com/nashproductioncom/">
							<svg class="svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#facebook"></use>
							</svg>
						</a>
					</div>
					<div class="column">
						<a class="footer-social" href="#">
							<svg class="svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#telegram"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>




