
<header class="header">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-between">
			<div class="column">
				<a class="logo" href="#">
					<img src="images/logo.svg" width="81" alt="">
				</a>
			</div>
			<div class="header-contacts column">
				<div><a class="phone-link" href="tel:+79637254006">+7(963)-725-40-06</a></div>
				<div><a class="mail-link" href="mailto:client@nashproduction.com">client@nashproduction.com</a></div>
			</div>
			<div class="menu" data-id="menu">
				<div class="menu-in">
					<button class="menu-close" type="button" data-toggle="toggleVisible" data-target="menu">
						<svg class="svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
						</svg>
					</button>
					<a class="logo text-left d-xl-none" href="#">
						<img src="images/logo-black.png" alt="">
					</a>
					<ul class="menu-nav list-unstyled d-flex flex-wrap nav nav-pills m-0" id="myScrollspy">
						<li class="nav-item"><a class="nav-link" href="#products">Наши продукты</a></li>
						<li class="nav-item"><a class="nav-link" href="#about">О нас</a></li>
						<li class="nav-item"><a class="nav-link" href="#packs">Тарифы</a></li>
						<li class="nav-item"><a class="nav-link" href="#works">Наши видео</a></li>
						<li class="nav-item"><a class="nav-link" href="#reviews">Отзывы клиентов</a></li>
						<li class="nav-item"><a class="nav-link" href="#contacts">Контакты</a></li>
					</ul>
					<div class="menu-contacts d-xl-none">
						Мы предлагаем: <br><br>
						Познакомиться: <a href="tel:+79637254006">+7(963)725-40-06</a> <br><br>
						Обсудить: <a href="mailto:client@nashproduction.com">client@nashproduction.com</a>
					</div>
					<div class="menu-messengers d-flex flex-wrap align-items-center justify-content-center justify-content-md-center d-xl-none">
						<div class="menu-messengers-title ml-3 mr-3 mt-2 mb-1">Напишите нам в мессенджеры</div>
						<div>
							<a class="social-link color-dark mb-1" href="#"><svg class="svg-icon"><use xlink:href="images/svg-sprite/svgSprite.svg#telegram"></use></svg></a>
							<a class="social-link color-dark ml-2 mb-1" href="#"><svg class="svg-icon"><use xlink:href="images/svg-sprite/svgSprite.svg#whatsapp"></use></svg></a>
							<a class="social-link color-dark ml-2 mb-1" href="#"><svg class="svg-icon"><use xlink:href="images/svg-sprite/svgSprite.svg#messenger"></use></svg></a>
						</div>
					</div>
					<div class="d-xl-none">
						<a class="button-oval button-oval_green-light" role="button" data-toggle="modal" href="#requestModal">Заказать звонок</a>
						<div class="menu-warning pt-2 mt-1">Нажимая на кнопку, вы соглашаетесь обработкой персональных <br> данных</div>
					</div>
				</div>
			</div>
			<div class="header-request column d-none d-xl-block">
				<a class="button-oval" class="button" role="button" data-toggle="modal" href="#requestModal">Заказать звонок</a>
			</div>
			<div class="column d-xl-none">
				<button class="header-menu-toggle button-clr" type="button" data-toggle="toggleVisible" data-target="menu">
					<svg class="svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#burger"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</header>