<div class="modal modal-product fade" id="videoModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button class="modal-close button-clr" type="button" data-dismiss="modal" aria-label="Close">
				<svg class="svg-icon">
					<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
				</svg>
			</button>
			<div class="modal-product-body">
				<div class="text-center">
					<div class="modal-product-title font-weight-bold mb-2 pb-sm-1" data-modal-title></div>
					<div class="modal-product-text mb-3 mb-sm-4 pb-sm-2 mb-lg-5" data-modal-text></div>
				</div>
				<div class="modal-video-wrap mb-3 mb-sm-4 pb-sm-2 mb-lg-5" data-video-src>
					<div class="modal-video-poster" data-modal-poster>&nbsp;</div>
					<button class="modal-play-button button-clr" type="button" data-button-target="video-iframe">
						<svg class="svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#play-button"></use>
						</svg>
					</button>
					<!-- <iframe class="modal-video" id="video-iframe" src="https://www.youtube.com/embed/E6orji4KXRM?modestbranding=1&rel=0&controls=1&showinfo=0&html5=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
					<div id="video-iframe"></div>
				</div>
				<div class="text-center">
					<a class="button-angles d-inline-block pl-5 pr-5 requestFormVideo" role="button" href="#requestModal"><span class="button-angles-in">Заказать ролик</span></a>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal modal-request fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button class="modal-close button-clr" type="button" data-dismiss="modal" aria-label="Close">
				<svg class="svg-icon">
					<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
				</svg>
			</button>
			<form method="POST" action="" class="needs-validation" novalidate>
				<div class="modal-request-in">
					<div class="text-center">
						<h3 class="mb-3 mb-md-4 pb-lg-2">Оставьте заявку и мы вам <br> перезвоним</h3>
					</div>
					<div class="form-group mb-3 mb-lg-4 pb-lg-2">
						<input class="form-control" type="text" name="name" placeholder="Ваше имя" required autocomplete="off">
						<div class="invalid-feedback">Поле заполнено неверно!</div>
						<div class="valid-feedback">Поле заполнено верно!</div>
					</div>
					<div class="form-group mb-3 mb-lg-4 pb-lg-2">
						<input class="phone form-control" type="text" name="tel" placeholder="Ваше телефон" required autocomplete="off">
						<div class="invalid-feedback">Поле заполнено неверно!</div>
						<div class="valid-feedback">Поле заполнено верно!</div>
					</div>
					<div class="form-group mb-0">
						<button class="button-oval button-oval_green_large button-clr mb-2 mb-lg-3 w-100">Оставить заявку</button>
						<div class="form-notice text-center">Нажимая на кнопку, вы соглашаетесь с обработкой персональных данных</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>




<div class="modal modal-thanks fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="thankModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<button class="modal-close button-clr" type="button" data-dismiss="modal" aria-label="Close">
				<svg class="svg-icon">
					<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
				</svg>
			</button>
			<div class="modal-wrap-thanks text-center">
				<div class="modal-title mb-2 pb-1">Спасибо!</div>
				<div class="modal-txt">Ваша заявка принята. <br> Мы свяжемся с Вами в ближайшее время</div>
			</div>
		</div>
	</div>
</div>

