<link rel="stylesheet" type="text/css" href="css/vendorCss.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script async>
	function loadJS(u){var r=document.getElementsByTagName("script")[0],s=document.createElement("script");s.src=u;r.parentNode.insertBefore(s,r);}

	if(!window.HTMLPictureElement || !('sizes' in document.createElement('img'))){
		loadJS("https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/plugins/respimg/ls.respimg.min.js");
	};
	var lazy = function lazy() {
		document.addEventListener('lazyloaded', function (e)  {
			e.target.parentNode.classList.add('lazy-image-loaded');
			e.target.parentNode.classList.remove('lazy-loading');
		});
	}

	lazy();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/plugins/bgset/ls.bgset.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js" async></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/vendor.min.js"></script>
<script>
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	var player1, player2, player3, player4;
	var playerInfoList = [{
		id: 'video-iframe'
	}, {
		id: 'reviews-iframe1',
		videoId: 'rmqteRt4cJk'
	}, {
		id: 'reviews-iframe2',
		videoId: 'AbkWkka6IpA'
	}, {
		id: 'reviews-iframe3',
		videoId: 'E6orji4KXRM'
	}];


	function onYouTubeIframeAPIReady() {
		if (typeof playerInfoList === 'undefined') return;
		for (var i = 0; i < playerInfoList.length; i++) {
			var curplayer = createPlayer(playerInfoList[i]);
			players[i] = curplayer;
		}
	};
	var players = new Array();
	function createPlayer(playerInfo) {
		return new YT.Player(playerInfo.id, {
			videoId: playerInfo.videoId,
			playerVars: playerInfo.playerVars
		});
	}
	$(document).ready(function () {
		$('.modal-play-button').click(function () {
			var btn = $(this);
			$(players).each(function (i, elem) {
				if ( elem.a.id == btn.data('button-target') ) {
					elem.playVideo();
					btn.siblings('.modal-video-poster').hide();
					btn.hide();
				}
				
			});
		});
	})
	function onPlayerReady(item) {
		console.log(item);
	};
</script>
<script src="js/main.js"></script>

